html,
body {
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #06030e;
  padding-top: 1em;
}

.brand-title {
  color: white;
}
.brand-title span {
  font-size: 0.8em;
  padding: 0 1em;
}
.logo {
  width: 95px;
  margin-bottom: 1em;
}

.body-wrap {
  background: rgba(163, 163, 163, 0.256);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.body {
  max-width: 1060px;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  background: white;
  margin-top: 1em;
  padding: 8px;
  font-size: 1.2em;
}

.presentation .name {
  margin-top: 2em;
  text-align: center;
}
.product-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-meta p {
  border-left: 2px solid black;
  font-size: 1em;
  padding: 1px 10px;
  display: inline-block;
  color: rgb(54, 52, 52);
}
.product-meta :first-child {
  border: none;
}

.introduction p,
.description p,
.ingredients p,
.how p,
.text-wrap p {
  padding: 0.4em 3em;
  text-align: justify;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.003em;
}

.img-text {
  display: flex;
}

.product-image {
  width: 40%;
  margin: 0 auto;
  padding: 0;
  align-self: center;
}
.description {
  width: 55%;
}

.banner1 {
  max-width: 450px;
  margin: 0 auto;
}
.fancy {
  margin-top: 2em;
  /* margin: 0 auto;
   */
  line-height: 0.5;
  text-align: center;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .fancy span {
    display: inline-block;
    position: relative;
    min-width: 380px;
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 17px;
    border-bottom: 3px solid black;
    top: 6px;
    width: 280px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }
}
.procon-wrap {
  max-width: 960px;
  margin: 0 auto;
}
.procon {
  display: flex;
  justify-content: space-between;
}
.pros,
.cons {
  padding-top: 1.4em;
}
.pros {
  border-top: 7px solid #35da35;
  list-style: none;
  width: 45%;
  padding-right: 12px;
}
.cons {
  border-top: 7px solid red;
  list-style: none;
  width: 45%;
}
ul.pros p::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #35da35; /* Change the color */
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
ul.cons p::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.container {
  width: 85%;
  margin: 0 auto;
}
.bar {
  background-color: #eee;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.bar::before {
  content: attr(data-skill);
  background-color: #a6cfe3;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

/* .bar.front::before {
  background-color: #ffcc33;
}
.bar.back::before {
  background-color: #a6cfe3;
} */

.bar.learning::before {
  width: calc(20% - 10px);
}
.bar.basic::before {
  width: calc(90% - 10px);
}
.bar.intermediate::before {
  width: calc(60% - 10px);
}
.bar.advanced::before {
  width: calc(80% - 10px);
}
.bar.expert::before {
  width: calc(100% - 10px);
}

.wrap-main {
  background: wheat;
}

.outro-wrap {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 3em;
}

.pack-wrap {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 3em;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.btn:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}
.btn:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 600px) {
  .brand-title {
    font-size: 1.3em;
  }
  .presentation .name {
    margin-top: 1em;
    text-align: center;
  }
  .product-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-meta p {
    border: none;
    font-size: 0.8em;
    display: inline;
    color: rgb(54, 52, 52);
    padding: 5px;
  }

  .introduction p,
  .description p,
  .ingredients p,
  .how p,
  .text-wrap p {
    padding: 4px 6px;
    text-align: initial;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.003em;
  }
  .img-text {
    display: flex;
    flex-direction: column;
  }
  .product-image {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    align-self: center;
  }
  .description {
    width: auto;
  }
  .ingredients ol {
    margin: 0;
  }

  .procon {
    display: flex;
    flex-direction: column;
  }
  .pros,
  .cons {
    width: auto;
  }
}
